version: "3.9"

services:
    backend:
    # TBD: move dev stuff into docker-compose.dev.yml
        build:
            context: ./backend
            # args:
            #     - DEV=true
        # ports:
        #     - "8000:8000"
        volumes:
            - ./backend/app:/app
        # command:
        #     sh -c "python manage.py runserver 0.0.0.0:8000"
    
    frontend:
        build:
            context: ./frontend