version: "3.9"

services:
    backend:
    # TBD: move dev stuff into docker-compose.dev.yml
        build:
            context: ./backend
            args:
                - DEV=true
        # ports:
        #     - "8000:8000"
        volumes:
            - ./backend:/app
        depends_on:
            - db
        # need to start server somewhere - either in Dockerfile or here!
        # command:
        #     sh -c  "python manage.py runserver 0.0.0.0:8000"
    
    db:
        image: postgres:13-alpine

    frontend:
        build:
            context: ./frontend
