version: "3.9"

services:
    backend:
        build:
            context: ./backend
            args:
                - DEV=true
        ports:
            - "8000:8000"
        volumes:
            - ./backend/app:/app
        command:
            sh -c "python manage.py runserver 0.0.0.0:8000"
    
    frontend:
        build:
            context: ./frontend
            target: build
            args:
                - DEV=true
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - ./frontend/node_modules:/app/node_modules
            - ./frontend/.svelte-kit:/app/.svelte-kit
        command:
            npm run dev