---
name: Checks

on: [push]

jobs:
    code-formating:
        name: Code Formating
        runs-on: ubuntu-20.04
        environment: cicd
        # env:
        #     DB_HOST: ${{ cicd.DB_HOST }}
        #     DB_NAME: ${{ cicd.DB_NAME }}
        #     DB_USER: ${{ cicd.DB_USER }}
        #     DB_PASS: ${{ secrets.DB_PASS }}
        steps:
            - name: Test environment
              run: |
                echo "DB_HOST: $DB_HOST"
                echo "DB_NAME: $DB_NAME"
                echo "DB_USER: $DB_USER"
                echo "DB_PASS: $DB_PASS"
            - name: Checkout
              uses: actions/checkout@v3
            - name: Build backend
              run: docker compose -f compose.yml -f compose.cicd.yml build --build-arg DB_HOST=$DB_HOST backend
            # Still has the permission denied issue:
            - name: Format backend
              run: docker compose -f compose.yml -f compose.cicd.yml run --rm backend sh -c "black ."
            - name: Build frontend
              run: docker compose -f compose.yml -f compose.cicd.yml build frontend
            - name: Format frontend
              run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend sh -c "npm install && npm run format"
            - name: Check for changed files
              id: check_changes
              run: |
                  if git diff --exit-code; then
                    echo "No files changed"
                    echo "changed=false" >> $GITHUB_OUTPUT
                  else
                    echo "Files changed"
                    echo "changed=true" >> $GITHUB_OUTPUT
                  fi
            - name: Commit changes
              uses: EndBug/add-and-commit@v9
              with:
                default_author: github_actions


    lint-test:
        name: Lint and test
        runs-on: ubuntu-20.04
        needs: code-formating
        environment: cicd
        env:
            DB_HOST: ${{ vars.DB_HOST }}
            DB_NAME: ${{ vars.DB_NAME }}
            DB_USER: ${{ vars.DB_USER }}
            DB_PASS: ${{ secrets.DB_PASS }}
        steps:
            - name: Test environment
              run: |
                  echo "DB_HOST: $DB_HOST"
                  echo "DB_NAME: $DB_NAME"
                  echo "DB_USER: $DB_USER"
                  echo "DB_PASS: $DB_PASS"
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            ## TBD: if code is changed in code-formator, the cahnges don't appear here yet.
            - name: Checkout
              uses: actions/checkout@v3
              with:
                  ref: main
            - name: Lint backend
              run: docker-compose -f compose.yml -f compose.cicd.yml run --rm backend sh -c "flake8"
            - name: Test backend
              run: docker-compose -f compose.yml -f compose.cicd.yml run --rm backend sh -c "python manage.py test"
              # env:
              #     DB_HOST: ${{ vars.DB_HOST }}
              #     DB_NAME: ${{ vars.DB_NAME }}
              #     DB_USER: ${{ vars.DB_USER }}
              #     DB_PASS: ${{ secrets.DB_PASS }}
            - name: Lint frontend
              run: docker-compose -f compose.yml -f compose.cicd.yml run --rm frontend sh -c "npm install && npm run lint"
            - name: Test frontend
              run: docker-compose -f compose.yml -f compose.cicd.yml run --rm frontend sh -c "npm run test:unit"
            # Add lint frontend and test frontend
            # - name: Build frontend
            #   run: docker compose -f compose.yml -f compose.cicd.yml build frontend
            # - name: Check for changed files
            #   id: check_changes
            #   run: |
            #       if git diff --exit-code ${{ github.sha }}; then
            #           echo "Files changed"
            #           echo "changed=true" >> $GITHUB_OUTPUT
            #       else
            #           echo "No files changed"
            #           echo "changed=false" >> $GITHUB_OUTPUT
            #       fi
            # - name: Show changed files
            #   run: git diff
            # - name: Create pull request with changes
            #   if: steps.check_changes.outputs.changed == 'true'
            #   uses: peter-evans/create-pull-request@v5
            #   with:
            #       token: ${{ secrets.GITHUB_TOKEN }}
            #       commit-message: "[bot] Format, lint and test"
            #       title: "[bot] Format, lint and test"
            #       body: |
            #           This is an automated pull request to format, lint and test the code.
            #           Please review and merge if no changes are required.
            #       branch: format-lint-test
            #       branch-suffix: timestamp
            #       # delete-branch: true
