---
name: Checks

on: [push]

jobs:
    format-test-lint:
        name: Test, Format and Lint
        runs-on: ubuntu-20.04
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v3
            # - name: Format backend
            #   run: docker-compose run --rm backend sh -c "black ."
            - name: Lint backend
              run: docker-compose run --rm backend sh -c "flake8"
            - name: Test backend
              run: docker-compose run --rm backend sh -c "python manage.py test"
            - name: Directory path
              run: pwd
            - name: Frontend directory content before build
              run: ls -la frontend/
            # - name: Show contents of node_modules
            #   run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend ls -la node_modules/
            - name: Build project
              run: docker compose -f compose.yml -f compose.cicd. frontend build 
            - name: Frontend directory content after build
              run: ls -la frontend/ # does NOT contain build/ or node_modules/ BUT the directories are there now with docker compose!
            - name: Show contents of build through docker compose
              run: docker compose -f compose.yml run --rm frontend ls -la build/
            - name: Show contents of node_modules through docker compose
              run: docker compose -f compose.yml run --rm frontend ls -la node_modules/
            # - name: Format frontend
            #   run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend npm run format
            # - name: Print out file that should be changed by prettier
            #   run: less frontend/src/routes/+page.svelte
            # - name: same through docker compose
            #   run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend less src/routes/+page.svelte
            # - name: Lint frontend
            #   run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend npm run lint
            # - name: Test frontend
            #   run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend npm run test:unit
            - name: Check for changed files
              id: check_changes
              run: |
                  if git diff --exit-code ${{ github.sha }}; then
                      echo "Files changed"
                      echo "changed=true" >> $GITHUB_OUTPUT
                  else
                      echo "No files changed"
                      echo "changed=false" >> $GITHUB_OUTPUT
                  fi
            - name: Show changed files
              run: git diff
            - name: Create pull request with changes
              if: steps.check_changes.outputs.changed == 'true'
              uses: peter-evans/create-pull-request@v5
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  commit-message: "[bot] Format, lint and test"
                  title: "[bot] Format, lint and test"
                  body: |
                      This is an automated pull request to format, lint and test the code.
                      Please review and merge if no changes are required.
                  branch: format-lint-test
                  branch-suffix: timestamp
                  # delete-branch: true