---
name: Checks

on: [push]

jobs:
    format-test-lint:
        name: Test, Format and Lint
        runs-on: ubuntu-20.04
        steps:
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USER }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Checkout
              uses: actions/checkout@v3
            # - name: Format backend
            #   run: docker-compose run --rm backend sh -c "black ."
            - name: Lint backend
              run: docker-compose run --rm backend sh -c "flake8"
            - name: Test backend
              run: docker-compose run --rm backend sh -c "python manage.py test"  
            - name: Format frontend
              run: docker compose -f compose.yml -f compose.cicd.yml run --rm frontend npm run format
            # - name: Print directory content
            #   run: docker-compose -f compose.yml -f compose.cicd.yml run --rm frontend sh -c "ls -la node_modules/"
            - name: Print directory name
              run: pwd
            - name: Print directory content
              run: ls -la frontend/
            # - name: Build frontend
            #   run: docker build -t frontend:dev --target build .
            # - name: Lint frontend
            #   run: docker run --rm frontend:dev npm run lint
            # - name: Test frontend
            #   run: docker run --rm frontend:dev npm run test:unit
            # - name: Format frontend
            #   run: docker-compose run --rm frontend sh -c "npm run format"
            # - name: Lint frontend
            #   run: docker-compose run --rm frontend sh -c "npm run lint"
            # - name: Test frontend
            #   run: docker-compose run --rm frontend sh -c "npm run test:unit"